<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace">

	<!--  ${newline}machinename: ${machinename}
            ${newline}message: ${message}-->
 
		<variable name="fileFormat"
			 value="
            ${newline}date: ${date}
            ${newline}level: ${level}
            ${newline}message: ${message}
            ${newline}------------------------------------------------------------" />

	<!-- 异步打印-->
		<targets async="true">
		
		<target  name="logfile"
		xsi:type="File"
		maxArchiveFiles="0"
		layout="${fileFormat}"
		archiveAboveSize="10MB"
		fileName="${basedir}/Logs/${date:format=yyyy-MM}/${shortdate}.log" />

			<target name="logerrorfile"
	xsi:type="File"
	maxArchiveFiles="0"
	layout="${fileFormat}"
	archiveAboveSize="10MB"
	fileName="${basedir}/Logs/${date:format=yyyy-MM}/${shortdate}.err.log" />
			
			<target xsi:type="Null" name="blackHole" />

	</targets>

	<!--<targets>
			<target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"  />
		</targets>-->

	<!--写入到文件-->
	<rules>
		<!--	数据库操作和系统操作 都吞掉-->
		<logger name="Microsoft.*" minlevel="Trace"  writeTo="blackHole"  final="true" />
		<logger name="System.*" minlevel="Trace"  writeTo="blackHole"  final="true" />
		
		<logger name="*" minlevel="Error" writeTo="logerrorfile" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	
	</rules>
</nlog>
